NEXT_TELEMETRY_DISABLED=1

# sepolia | mainnet
NEXT_PUBLIC_CELO_NETWORK=sepolia

# Optional token overrides
NEXT_PUBLIC_CUSD_SEPOLIA_ADDRESS=0xdE9e4C3ce781b4bA68120d6261cbad65ce0aB00b
NEXT_PUBLIC_CUSD_MAINNET_ADDRESS=0x765DE816845861e75A25fCA122bb6898B8B1282a
